@media (max-width: 500px), (max-width:550px ) {
  body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }

  .wrapper{
    display: border-box;
    /* flex-direction: column;
    justify-content: space-between; */
    width: inherit;
    margin: 0px auto;
    margin-top: 160px;
  }


.container {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 0px auto;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 25px;
  padding: 50px;
}
}
