@media (max-width: 700px), (max-width:1250px ) {
  body{
    width: 100vw;
    height: auto;
    font-family: 'Space Mono', monospace !important;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    margin: 0px auto;
    margin-top: 60px;
  }

  .logo {
    width: 80px;
    height: 47px;
    margin: 0px auto;
  }

  .container {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 80vw;
    margin: 0px auto;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 25px;
    padding: 50px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: 14px;
  }

  .bill {
    width: 90%;
    height: 78px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #5E7A7D;
  }

  .span1 {
    display: flex;
    justify-content: space-between;
  }

  .bill-input {
    width: 91.5%;
    height: 48px;
    outline: none;
    border: none;
    background: #F3F9FA;
    padding: 0px 20px 0px 35px;
    font-size: 24px;
    font-weight: bold;
    color: #00474B;
    text-align: right;
    font-family: 'Space Mono', monospace !important;
    cursor:pointer;
  }

  .icon {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
  }

  .tip {
    height: auto;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #5E7A7D;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .option {
    width: 12vw;
    height: 48px;
    margin-top: 20px;
    background: #00474B;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    border: none;
    outline: none;
    cursor:pointer;
  }

  .selected {
    background: #26C2AE;
    color: #00474B;
    font-weight: bold;
  }

  .custom {
    width: 8vw;
    height: 48px;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 5px;
    padding-right: 2vw;
    padding-left: 2vw;
    background: #F3F9FA;
    color: #547878;
    font-weight: bold;
    font-family: 'Space Mono', monospace !important;
    font-family: bold;
    border: none;
    outline: none;
    cursor:pointer;
  }

  .people-count {
    width: 90%;
    height: 78px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #5E7A7D;
  }

  .span2 {
    display: flex;
    justify-content: space-between;
  }

  .people-input {
    width: 91.5%;
    height: 48px;
    outline: none;
    border: none;
    background: #F3F9FA;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 20px 0px 35px;
    color: #00474B;
    text-align: right;
    font-family: 'Space Mono', monospace !important;
    cursor:pointer;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 417px;
    background: #00474B;
    border-radius: 15px;
    margin-left: 14px;
  }

  .amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 156px; */
  }

  .tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-weight: bold;
  }

  .tip-left {
    color: white;
    font-size: 16px;
    text-align: left;
  }

  .tip-right {
    color: #26C2AE;
    font-size: 32px;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    font-weight: bold;
  }

  .total-left {
    color: white;
    font-size: 16px;
  }

  .total-right {
    color: #26C2AE;
    font-size: 32px;
  }

  .little {
    color: #7F9D9F;
    font-size: 13px;
  }

  .reset {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 156px;
    width: 100%
  }

  .reset-btn {
    width: 90%;
    height: 48px;
    background: #0D686D;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: not-allowed;
  }

  .reset-btn-active {
    width: 90%;
    height: 48px;
    background: #26C2AE;
    color: #00474B;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
  }

  .reset-btn-active:hover {
    background: #9FE8DF;
  }

  ::-webkit-input-placeholder { /* Edge */
      color: #5E7A7D;
      font-size: 1rem;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #5E7A7D;
      font-size: 1rem;
  }

  ::placeholder {
      color: #5E7A7D;
      font-size: 1rem;
  }

}
